.img-container {
    height: 100px;
}

img {
    height: 100px;
}

.dx-row.dx-data-row .cell-red {
    color: #DB3333;
}

.dx-row.dx-data-row .cell-green {
    color: #01C605;
}

h1{
	text-align: center;
}